Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container-image:build, markdownlint, rubocop, validate-service-catalog-schema, validate-service-catalog, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, test-alert-templates, validate-alerts, test-periodic-queries, validate-mimir-rules, deploy-mimir-rules

Path conditions:
  container-image:build: any of: .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml, Dockerfile, jsonnetfile.json, jsonnetfile.lock.json
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb, Gemfile, Gemfile.lock
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-catalog: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb, **/*.jsonnet, **/*.libsonnet, .ruby-version
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  test-alert-templates: any of: alertmanager/templates/**/*
  validate-alerts: any of: docs/**/*, legacy-prometheus-rules/**/*, mimir-rules/**/*, services/**/*, scripts/validate-alerts
  test-periodic-queries: any of: libsonnet/**/*, periodic-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
  validate-mimir-rules: any of: mimir-rules/**/*
  deploy-mimir-rules: any of: mimir-rules/**/*

SKIP_POST_DEPLOYMENT_MIGRATIONS must be false when running PDMs
  docs/registry/db-post-deployment-migrations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove TODO notes. Clarify which cluster to connect to.
  docs/registry/db-post-deployment-migrations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove old document references
  docs/ci-runners/troubleshooting-guide.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove post checks
  docs/ci-runners/troubleshooting-guide.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(alert): enable the rails-queueing SLI for rails webservices
  libsonnet/service-archetypes/helpers/rails_queueing_sli.libsonnet
  metrics-catalog/services/ai-assisted.jsonnet
  metrics-catalog/services/api.jsonnet
  metrics-catalog/services/git.jsonnet
  metrics-catalog/services/internal-api.jsonnet
  metrics-catalog/services/web.jsonnet
  mimir-rules/gitlab-gprd/ai-assisted/autogenerated-gitlab-gprd-ai-assisted-service-level-alerts.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gprd/git/autogenerated-gitlab-gprd-git-service-level-alerts.yml
  mimir-rules/gitlab-gprd/internal-api/autogenerated-gitlab-gprd-internal-api-service-level-alerts.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gprd/websockets/autogenerated-gitlab-gprd-websockets-service-level-alerts.yml
  mimir-rules/gitlab-gstg/ai-assisted/autogenerated-gitlab-gstg-ai-assisted-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/git/autogenerated-gitlab-gstg-git-service-level-alerts.yml
  mimir-rules/gitlab-gstg/internal-api/autogenerated-gitlab-gstg-internal-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/websockets/autogenerated-gitlab-gstg-websockets-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/git/autogenerated-gitlab-pre-git-service-level-alerts.yml
  mimir-rules/gitlab-pre/internal-api/autogenerated-gitlab-pre-internal-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/websockets/autogenerated-gitlab-pre-websockets-service-level-alerts.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: rspec, validate-alerts, test-periodic-queries, validate-mimir-rules, deploy-mimir-rules

Re-label sections
  on-call/checklists/eoc.md
Due: markdownlint, validate-kibana-urls

Typo
  on-call/checklists/eoc.md
Due: markdownlint, validate-kibana-urls

First take on a workflow
  on-call/checklists/eoc.md
Due: markdownlint, validate-kibana-urls

Formatting
  on-call/checklists/eoc.md
Due: markdownlint, validate-kibana-urls

Eschew slack handovers for the handover issue
  on-call/checklists/eoc.md
Due: markdownlint, validate-kibana-urls

Incident is more informative than inc
  on-call/checklists/eoc.md
Due: markdownlint, validate-kibana-urls

chore: Set default PG version on pg-decomp.dashboard.jsonnet
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Due: rspec

fix: Make generate.
  mimir-rules/gitlab-gprd/gitlab-static/autogenerated-gitlab-gprd-gitlab-static-service-slo-observance.yml
  mimir-rules/gitlab-gstg/gitlab-static/autogenerated-gitlab-gstg-gitlab-static-service-slo-observance.yml
  mimir-rules/gitlab-pre/gitlab-static/autogenerated-gitlab-pre-gitlab-static-service-slo-observance.yml
Due: validate-alerts, validate-mimir-rules, deploy-mimir-rules

Add Cloudflare 5xx alert
  metrics-catalog/services/cloudflare.jsonnet
  mimir-rules/gitlab-gprd/cloudflare/autogenerated-gitlab-gprd-cloudflare-cloudflare-service-slos.yml
  mimir-rules/gitlab-gprd/cloudflare/autogenerated-gitlab-gprd-cloudflare-component-aggregation.yml
  mimir-rules/gitlab-gprd/cloudflare/autogenerated-gitlab-gprd-cloudflare-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/cloudflare/autogenerated-gitlab-gprd-cloudflare-occurrence-sla-availability.yml
  mimir-rules/gitlab-gprd/cloudflare/autogenerated-gitlab-gprd-cloudflare-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gprd/cloudflare/autogenerated-gitlab-gprd-cloudflare-service-level-alerts.yml
  mimir-rules/gitlab-gprd/cloudflare/autogenerated-gitlab-gprd-cloudflare-service_anomaly_detection.yml
  mimir-rules/gitlab-gprd/cloudflare/autogenerated-gitlab-gprd-cloudflare-sli-aggregations.yml
  mimir-rules/gitlab-gprd/cloudflare/autogenerated-gitlab-gprd-cloudflare-transformed-service-aggregation.yml
  mimir-rules/gitlab-gprd/cloudflare/autogenerated-gitlab-gprd-cloudflare-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/cloudflare/autogenerated-gitlab-gprd-cloudflare-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/cloudflare/autogenerated-gitlab-gprd-cloudflare-utilization.yml
  mimir-rules/gitlab-gstg/cloudflare/autogenerated-gitlab-gstg-cloudflare-cloudflare-service-slos.yml
  mimir-rules/gitlab-gstg/cloudflare/autogenerated-gitlab-gstg-cloudflare-component-aggregation.yml
  mimir-rules/gitlab-gstg/cloudflare/autogenerated-gitlab-gstg-cloudflare-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/cloudflare/autogenerated-gitlab-gstg-cloudflare-occurrence-sla-availability.yml
  mimir-rules/gitlab-gstg/cloudflare/autogenerated-gitlab-gstg-cloudflare-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gstg/cloudflare/autogenerated-gitlab-gstg-cloudflare-service-level-alerts.yml
  mimir-rules/gitlab-gstg/cloudflare/autogenerated-gitlab-gstg-cloudflare-service_anomaly_detection.yml
  mimir-rules/gitlab-gstg/cloudflare/autogenerated-gitlab-gstg-cloudflare-sli-aggregations.yml
  mimir-rules/gitlab-gstg/cloudflare/autogenerated-gitlab-gstg-cloudflare-transformed-service-aggregation.yml
  mimir-rules/gitlab-gstg/cloudflare/autogenerated-gitlab-gstg-cloudflare-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/cloudflare/autogenerated-gitlab-gstg-cloudflare-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/cloudflare/autogenerated-gitlab-gstg-cloudflare-utilization.yml
Due: rspec, validate-alerts, validate-mimir-rules, deploy-mimir-rules

Make the process less manual by specifying a oneliner
  docs/registry/db-post-deployment-migrations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

beginnings of wal generation alert
  docs/patroni/alerts/NormalConditionForPatroniWALGenerationSaturation.png
  docs/patroni/alerts/PatroniWALGenerationSaturation.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add release-tooling catalog
  docs/release-tooling/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-catalog, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

feat: Applying a weighted moving average to kube_horizontalpodautoscaler_desired_replicas saturation point
  libsonnet/saturation-monitoring/kube_horizontalpodautoscaler_desired_replicas.libsonnet
Due: rspec, test-periodic-queries

chore: Ignore Ruby LSP directory
  .gitignore
Due: none

Send gstg alerts for global search team
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-catalog, validate-alerts

chore(deps): update pre-commit hook gitlab-com/gl-infra/common-ci-tasks to v2.71
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: container-image:build

Notes added by 'git notes add'
  8df1fb73a7558590f73ca25c276cbdba2a696680
Due: none
